{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}Qanda - {{ title }}{% else %}Qanda{% endif %}
{% endblock %}

{% block navbar %}
{{ fontawesome_html() }}
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='logo.png') }}" width="50" class="d-inline-block align-middle" alt="Qanda Logo" loading="lazy" />
        Qanda</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          {% if current_user.username != null %}
          <a class="nav-item">
            <a class="nav-link" href=#><span class="fas fa-user-circle"></span> Profile</a>
          </a>
          {% endif %}
          <a class="nav-item">
            {% if current_user.is_anonymous %}
              <a class="nav-link" href="{{ url_for('auth.login') }}"><span class="fas fa-sign-in-alt"></span> Login</a>
            {% else %}
              <a class="nav-link" href="{{ url_for('auth.logout') }}"><span class="fas fa-sign-out-alt"></span> Logout</a>
            {% endif %}
          </a>
          <a class="nav-item">
            <a class="nav-link" href="{{ url_for('topics.index') }}"><span class="fas fa-list"></span> Topics</a>
          </a>
          <a class="nav-item">
            <a class="nav-link" href="{{ url_for('questions.index') }}"><span class="fas fa-question-circle"></span> Questions</a>
          </a>
        </div>
      </div>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
  </div>
{% endblock %}