{% extends "base.html" %}

{% block app_content %}

<div class="card mt-4 bg-light">
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        <h5 class="card-title">
          {% if current_user.username != null %}
          Welcome, {{ current_user.username }}!
          {% else %}
          Welcome!
          {% endif %}
        </h5>
        <small>
          <p class="text-muted"><span class="badge badge-secondary badge-pill">0</span> <a class="align-middle" href="#">My Questions</a><br />
            <span class="badge badge-secondary badge-pill">0</span> <a class="align-middle" href="#">My Answers</a></p>
        </small>
      </div>
      <div class="col-md">
        <a class="btn btn-primary btn-sm float-right" href="{{ url_for('questions.new') }}">Ask Question</a>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col">
    <div class="card">
      <h5 class="card-header">Popular Questions</h5>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for q in popular_questions %}
          <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" href="{{ url_for('questions.show', id=q.id) }}"> 
            {{ q.text }}<span class="badge badge-secondary">{{ q.total_votes }} votes</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">Recent Questions</h5>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for q in recent_questions %}
          <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" href="{{ url_for('questions.show', id=q.id) }}">
            {{ q.text }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}