{% extends "base.html" %}

{% block app_content %}

<div class="card mt-4 bg-light">
  <div class="card-body">
    <div class="row">
      <div class="col-md">
        
          {% if current_user.username != null %}
          <h5 class="card-title">Welcome, {{ current_user.username }}!</h5>
          <small>
            <p class="text-muted"><span class="badge badge-secondary badge-pill">{{ my_question_count }}</span> <a class="align-middle" href="#">My Questions</a><br />
              <span class="badge badge-secondary badge-pill">{{ my_answer_count }}</span> <a class="align-middle" href="#">My Answers</a></p>
          </small>
          {% else %}
          <h5 class="card-title">Welcome!</h5>
          <div class="card-subtitle">Please <a href="{{ url_for('auth.login') }}">login</a> or <a href="{{ url_for('auth.register') }}">register</a> to contribute.</div>
          {% endif %}
      </div>
      <div class="col-md">
        {% if current_user.username != null %}
        <a class="btn btn-primary btn-sm float-right" href="{{ url_for('questions.new') }}">Ask Question</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col">
    <div class="card">
      <h5 class="card-header">Popular Questions</h5>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for q in popular_questions %}
          <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" href="{{ url_for('questions.show', id=q.id) }}"> 
            {{ q.text }}<span class="badge badge-secondary">{{ q.total_votes }} votes</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">Recent Questions</h5>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for q in recent_questions %}
          <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" href="{{ url_for('questions.show', id=q.id) }}">
            {{ q.text }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}