{% extends "base.html" %}

{% block app_content %}

<div class="card mt-4 border-success">
{% if current_user.username != null %}
<p>Welcome, {{ current_user.username }}!</p>
{% else %}
<p>Welcome!</p>
{% endif %}
</div>


<div class="row mt-4">
  <div class="col">
    <div class="card">
      <h5 class="card-header">Popular Questions</h5>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for q in popular_questions %}
          <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" href="{{ url_for('questions.show', id=q.id) }}"> 
            {{ q.text }}<span class="badge badge-secondary">{{ q.total_votes }} votes</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">Recent Questions</h5>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for q in recent_questions %}
          <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action" href="{{ url_for('questions.show', id=q.id) }}">
            {{ q.text }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}